# ========================================================
# Ignoring OS Default files
# ========================================================

!.DS_Store

# ========================================================
# Ignoring Environmental Variables file
# ========================================================

!.env

# ========================================================
# Ignoring Database files
# ========================================================

./dbs/*
